.contenedor {
  box-shadow: 0px 0px 10px rgb(32, 31, 30), 0px 0px 15px rgb(114, 147, 200); /* borde de dos colores*/
  justify-content: center;
  align-items: center;
}

.boton {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 10px;
}

#busqueda {
  display: flex;
}

h6 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-widht: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
