<app-navbar></app-navbar>
<div class="container">
  <h2 style="text-align: center;">Actividades a realizar</h2>
  <div class="text-center" (click)="navegarVerTareasInvestigacion()">
    <h3>Módulo de Investigación</h3>
    <div>
      <p>Tiene {{tareasInvestigacion.length}}
        <span *ngIf="tareasInvestigacion.length==0||tareasInvestigacion.length>1">Tareas Pendientes</span>
        <span *ngIf="tareasInvestigacion.length==1"> Tarea Pendiente</span>
      </p>
      <p class="text-click">Click para Ver mas Detalles</p>
    </div>
  </div>
  <div class="text-center" (click)="navegarVerTareasVinculacion()">
    <h3>Módulo de Vinculación</h3>
    <div>
      <p>Tiene {{tareasVinculacion.length}}
        <span *ngIf="tareasVinculacion.length==0||tareasVinculacion.length>1">Tareas Pendientes</span>
        <span *ngIf="tareasVinculacion.length==1"> Tarea Pendiente</span>
      </p>
      <p  class="text-click">Click para Ver mas Detalles</p>
    </div>
  </div>
  <div class="text-center" (click)="navegarVerTareasDocencia()">
    <h3>Módulo de Docencia</h3>
    <div>
      <p>Tiene {{tareasDocencia.length}}
        <span *ngIf="tareasDocencia.length==0||tareasDocencia.length>1">Tareas Pendientes</span>
        <span *ngIf="tareasDocencia.length==1"> Tarea Pendiente</span>
      </p>
      <p  class="text-click">Click para Ver mas Detalles</p>
    </div>
  </div>
  <!-- <div class="table-responsive">
    <table class="table table-hover text-center table-sm">
      <thead class="table-dark">
        <tr>
          <th>Actividad</th>
          <th>Revisor</th>
          <th>Fecha Límite de Entrega</th>
          <th>Proyecto</th>
          <th>Estado de la Actividad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of totalTareasrealizar">
          <td *ngIf="!tarea.tarea">{{ tarea.codigoTarea?.nombreTarea }}</td>
          <td *ngIf="!tarea.codigoTarea">{{ tarea.tarea?.nombreTarea }}</td>
          <td *ngIf="!tarea.tarea">{{ tarea.codigoTarea?.nombreDocenteRevisor }}</td>
          <td *ngIf="!tarea.codigoTarea">{{ tarea.tarea?.nombreDocenteRevisor }}</td>
          <td *ngIf="!tarea.tarea">{{ tarea.codigoTarea?.fechaEntregaTarea | date:"short":'+00:00' }}</td>
          <td *ngIf="!tarea.codigoTarea">{{ tarea.tarea?.fechaEntregaTarea | date:"short":'+00:00' }}</td>
          <td *ngIf="!tarea.tarea">{{ tarea.codigoTarea?.codigoProyecto?.nombreProyecto }}</td>
          <td *ngIf="!tarea.codigoTarea">{{ tarea.tarea?.proyecto?.nombreProyecto }}</td>
          <td *ngIf="tarea.estadoTareaDocente=='ASIGNADA'">ASIGNADA</td>
          <td *ngIf="tarea.estadoTareaDocente=='EN REVISIÓN'">EN REVISIÓN</td>
          <td *ngIf="tarea.estadoTareaDocente=='ACEPTADO'">ACEPTADO</td>
          <td *ngIf="tarea.estadoTareaDocente=='DENEGADO'">DENEGADO</td>
          <td>
            <button *ngIf="tarea.estadoTareaDocente=='ASIGNADA'||tarea.estadoTareaDocente=='DENEGADO'"
              (click)="realizarTarea(tarea)" class="btn btn-success btn-sm">Realizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
