.text-center{
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  box-shadow: 0px 0px 10px rgb(32, 31, 30), 0px 0px 15px rgb(114, 147, 200); /* borde de dos colores*/
  margin: 17px;
  padding: 7px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h3{
  background-color: black;
  color: white;
}

.text-click{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;color: rgb(4, 4, 63);
}
