<app-navbar></app-navbar>
<div class="container">
  <h2 style="text-align: center;">Proyectos</h2>
  <button class="btn btn-secondary btn-sm" (click)="navegarCrearProyecto()"
  style="margin-bottom:10px;">Crear un nuevo Proyecto</button>
  <div class="table-responsive">
    <table class="table table-hover text-center table-sm">
      <thead class="table-dark">
        <tr>
          <th>Proceso</th>
          <th>Proyecto</th>
          <th>Fecha Creación</th>
          <th>Descripción</th>
          <th>Financiamiento</th>
          <th>Propiedad</th>
          <!-- <th>Estado</th> -->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectos">
          <td>{{ proyecto.tipoProceso?.nombreTipoProceso }}</td>
          <td>{{ proyecto.nombreProyecto }}</td>
          <td>{{ proyecto.fechaCreacionproyecto | date: "dd-MM-yyyy" }}</td>
          <td *ngIf="proyecto.descripcionProyecto">{{ proyecto.descripcionProyecto }}</td>
          <td *ngIf="!proyecto.descripcionProyecto">Sin descripción</td>
          <td>{{ proyecto.tipoFinanciamiento }}</td>
          <td>{{ proyecto.propiedadProyecto }}</td>

          <!-- <td [ngSwitch]="proyecto.estadoProyecto">
            <span *ngSwitchCase="'ACT'">ACTIVO</span>
            <span *ngSwitchDefault>INACTIVO</span>
          </td> -->
          <td>
            <button (click)="editar(proyecto)" class="btn btn-warning btn-sm">Editar</button>
            <!-- <button (click)="cambiarEstado(proyecto)" class="btn btn-dark btn-sm" style="margin-left: 10px;">Cambiar
              Estado</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
