
h2{
  margin: 0;
  display: inline-block;
  font-size: 15px
}
span{
  font-size: 15px;
}

.col-md-6{
  height: 41vh;
  display: flex;
}

.contenedor{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

#contenedor-line-chart{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: blue
}

.contenedor-bar-vertical{
  width: 30%;
  height: 100%;
  margin: auto;
}

#bar-vertical{
  width: 100%;
  height: 100%;
}

