
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container-fluid">
		<a class="navbar-brand">GPR - MECANICA</a>
		</div>
</nav>
<div class='container'>
<div class="card">
    <div class="card-header">
      Estado de Solicitud
    </div>
    <div class="card-body">
      <h5 class="card-title">Solicitud no aprobada</h5>
      <p class="card-text">Su solicitud de registro todavia no ha sido aprobada por el administrador.</p>
      <p class="card-text">Espere su aprobación y vuelva a intentar nuevamente</p>
      
    </div>
 </div>
  
</div>
  