.custom-form-field{
  width: 100%;
}
::ng-deep .mat-form-field-label {
  color: rgb(245, 237, 231) !important;
}

input[type="date"]::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator{
  filter: drop-shadow(16px 16px 20px rgb(245, 237, 231)) invert(100%);
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.custom-form-field-medium{
  margin: 0 7px 0 7px;
  width: 48%;
}

button{
  width: 45%;
  margin: 0 5px 0 5px;
}
