<app-navbar></app-navbar>
<div class="container">
  <h2 style="text-align: center;">Proyectos</h2>
  <div style="display: flex;">
    <div class="form-group col align-self-center col-sm-6" style="margin: auto;">
      <select name="proyecto" [(ngModel)]="proyectoModel" class="form-select" (change)="getTareas()">
        <option [ngValue]="proyecto" *ngFor="let proyecto of proyectos">{{proyecto.nombreProyecto}}</option>
      </select>
    </div>
  </div>
  <h2 style="text-align: center;">Actividades</h2>
  <div *ngIf="checkCreartarea">
    <button class="btn btn-secondary btn-sm" (click)="navegarCrearTarea()" style="margin-bottom:10px;margin-right: 10px;">Crear una
      nueva Actividad</button>
    <button class="btn btn-secondary btn-sm" (click)="navegarCrearProyecto()" style="margin-bottom:10px;">Copiar actividades a un nuevo proyecto</button>
  </div>
  
  <div class="table-responsive">
    <table class="table table-hover text-center table-sm">
      <thead class="table-dark">
        <tr>
          <th>Actividad</th>
          <th>Tipo de Actividad</th>
          <th>Prioridad de la Actividad</th>
          <th>Fecha Límite de Entrega</th>
          <th>Proyecto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareasDocenteProyecto">
          <td>{{ tarea.tarea?.nombreTarea }}</td>
          <td>{{ tarea.tarea?.tipoTarea }}</td>
          <td>{{ tarea.tarea?.prioridadTarea }}</td>
          <td>{{ tarea.tarea?.fechaEntregaTarea | date:"short":'+00:00'}}</td>
          <td>{{ tarea.tarea?.codigoProyecto?.nombreProyecto }}</td>
          <td>
            <mat-icon *ngIf="cedulaDocenteRevisor == tarea.tarea?.idDocenteRevisor" (click)="editarTarea(tarea)">edit</mat-icon>
            <mat-icon *ngIf="cedulaDocenteRevisor == tarea.tarea?.idDocenteRevisor" (click)="eliminarTarea(tarea)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>