<app-navbar></app-navbar>
<p-toast position="top-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-blockUI  *ngIf="visualBlockedDocument" [blocked]="blockedDocument" (baseZIndex)="3"></p-blockUI>
<div class="container">

  <div class="row justify-content-center">
    <div class="overlay">
      <p-progressSpinner *ngIf="blockedDocument" [style]="{width: '150px', height: '150px', margin:'auto'}"
        styleClass="custom-spinner"></p-progressSpinner>
    </div>
    <form (ngSubmit)="f.form.valid && save()" #f="ngForm" enctype="multipart/form-data">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Información <br> General</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Desarrollo y <br> Análisis</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Tutorías</button>
          <button class="nav-link" id="nav-evaluacion-docente-tab" data-bs-toggle="tab"
            data-bs-target="#nav-evaluacion-docente" type="button" role="tab" aria-controls="nav-evaluacion-docente"
            aria-selected="false">Evaluación <br> Docente</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-apreciacion-global"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Apreciación Global <br> de los
            Estudiantes</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-acciones-mejora"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Acciones para mejorar <br> la
            Gestión del Docente</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-conclusiones"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Conclusiones y <br>
            Recomendaciones</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-anexos"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Anexos</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h1>1. DATOS GENERALES</h1>
          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <tbody>
                <tr>
                  <th>
                    Área de conocimiento
                  </th>
                  <td class="text-center align-middle"><input [(ngModel)]="informeFinalDTO.datosGenerales!.areaConocimiento" id="areaConocimiento"
                      name="areaConocimiento" type="text" class="form-control form-control-sm"></td>
                </tr>
                <tr>
                  <th>
                    Nombre del Docente que presenta el informe
                  </th>
                  <td class="text-center align-middle"><input [(ngModel)]="informeFinalDTO.datosGenerales!.nombreDocentePresentaInforme"
                      id="nombreDocentePresentaInforme" name="nombreDocentePresentaInforme" type="text" class="form-control form-control-sm"></td>
                </tr>
                <tr>
                  <th>
                    Nombre del Coordinador de Área de Conocimiento
                  </th>
                  <td class="text-center align-middle"><input [(ngModel)]="informeFinalDTO.datosGenerales!.nombreCoordinadorArea" id="nombreCoordinadorArea"
                      name="nombreCoordinadorArea" type="text" class="form-control form-control-sm"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h1>2. ANTECEDENTES <button id="button-antecedentes" type="button" (click)="addAntecedentes()"
              class="btn btn-outline-success btn-sm">Agregar Antecedente</button></h1>
          <ul *ngFor="let antecedente of informeFinalDTO.antecedentes">
            <li>{{antecedente}}</li>
          </ul>


          <h1>3. OBJETIVO <button id="button-objetivo" type="button" (click)="addObjetivo()"
              class="btn btn-outline-success btn-sm" *ngIf="!informeFinalDTO.objetivo">Agregar Objetivo</button></h1>
          <ul *ngIf="informeFinalDTO.objetivo">
            <li>{{informeFinalDTO.objetivo}}</li>
          </ul>

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <h1>4. DESARROLLO Y ANÁLISIS</h1>
          <h1>4.1 DATOS INFORMATIVOS <button id="button-objetivo" type="button" (click)="addDatosInformativos()"
              class="btn btn-outline-success btn-sm">Agregar Datos Informativos</button></h1>
          <div class="table-responsive">
            <table class="table table-bordered table-hover text-center table-sm">
              <thead>
                <tr>
                  <th class="text-center align-middle">CARRERA</th>
                  <th class="text-center align-middle">ASIGNATURA</th>
                  <th class="text-center align-middle">COMPONENTE DOCENCIA/PRÁCTICO</th>
                  <th class="text-center align-middle">NRC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datosAsignatura of informeFinalDTO.datosAsignatura">
                  <td class="text-center align-middle">{{datosAsignatura.carrera}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.asignatura}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.componente}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.nrc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h1>4.2. RESULTADOS RENDIMIENTO ACADÉMICO <button id="button-objetivo" type="button"
              (click)="addResultadosRendimientoAcademico()" class="btn btn-outline-success btn-sm"
              *ngIf="this.informeFinalDTO.datosAsignatura?.length!=0">Agregar Resultados de Rendimiento
              Académico</button></h1>

          A continuación, se presentan los datos estadísticos de rendimiento académico de los estudiantes en las
          asignaturas asignadas en el presente período
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th class="text-center align-middle" rowspan="3">ASIGNATURA</th>
                  <th class="text-center align-middle" rowspan="3">NRC</th>
                  <th class="text-center align-middle" colspan="12">CONDICIÓN (Nro. ESTUDIANTES)</th>
                </tr>
                <tr>
                  <th class="text-center align-middle" colspan="3">ESTUDIANTES MATRICULADOS</th>
                  <th class="text-center align-middle" colspan="3">ESTUDIANTES RETIRADOS</th>
                  <th class="text-center align-middle" colspan="3">ESTUDIANTES REPROBADOS</th>
                  <th class="text-center align-middle" colspan="3">ESTUDIANTES APROBADOS</th>
                </tr>
                <tr>
                  <th class="text-center align-middle">HOMBRES</th>
                  <th class="text-center align-middle">MUJERES</th>
                  <th class="text-center align-middle">TOTAL</th>
                  <th class="text-center align-middle">HOMBRES</th>
                  <th class="text-center align-middle">MUJERES</th>
                  <th class="text-center align-middle">TOTAL</th>
                  <th class="text-center align-middle">HOMBRES</th>
                  <th class="text-center align-middle">MUJERES</th>
                  <th class="text-center align-middle">TOTAL</th>
                  <th class="text-center align-middle">HOMBRES</th>
                  <th class="text-center align-middle">MUJERES</th>
                  <th class="text-center align-middle">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datosAsignatura of informeFinalDTO.datosAsignatura">
                  <td class="text-center align-middle">{{datosAsignatura.asignatura}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.nrc}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesMatriculados?.numeroHombres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesMatriculados?.numeroMujeres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesMatriculados?.total}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesRetirados?.numeroHombres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesRetirados?.numeroMujeres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesRetirados?.total}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesReprobados?.numeroHombres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesReprobados?.numeroMujeres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesReprobados?.total}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesAprobados?.numeroHombres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesAprobados?.numeroMujeres}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.estudiantesAprobados?.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ASIGNATURA</th>
                  <th></th>
                  <th>COMPONENTE DOCENCIA/PRÁCTICO</th>
                  <th>NRC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>NRC</th>
                  <td>CONDICIÓN</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th>CONDICIÓN</th>
                  <td><input type="text"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Estudiantes matriculados</td>
                  <td><input type="text"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Estudiantes retirados </td>
                  <td><input type="text"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Estudiantes reprobados</td>
                  <td><input type="text"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Estudiantes aprobados</td>
                  <td><input type="text"></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div> -->

          El promedio de rendimiento académico de los estudiantes en las asignaturas impartidas fue el siguiente:
          <button id="button-objetivo" type="button" (click)="addPromedioRendimientoAcademico()"
            class="btn btn-outline-success btn-sm" *ngIf="this.informeFinalDTO.datosAsignatura?.length!=0">Agregar
            Promedio de Rendimiento Académico</button>

          <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th class="text-center align-middle" rowspan="3">NRC</th>
                  <th class="text-center align-middle" colspan="8">PROMEDIO (Calificaciones)</th>
                </tr>
                <tr>
                  <th class="text-center align-middle" colspan="3">Promedio de Rendimiento Académico</th>
                  <th class="text-center align-middle" rowspan="2">Promedio final de rendimiento académico</th>
                  <th class="text-center align-middle" colspan="3">Desviación Estándar</th>
                  <th class="text-center align-middle" rowspan="2">Promedio final de desv. estándar</th>
                </tr>
                <tr>
                  <th class="text-center align-middle">I-UD</th>
                  <th class="text-center align-middle">II-UD</th>
                  <th class="text-center align-middle">III-UD</th>
                  <th class="text-center align-middle">I-UD</th>
                  <th class="text-center align-middle">II-UD</th>
                  <th class="text-center align-middle">III-UD</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datosAsignatura of informeFinalDTO.datosAsignatura">
                  <td class="text-center align-middle">{{datosAsignatura.nrc}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.promedioRendimientoAcademico?.primerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.promedioRendimientoAcademico?.segundoParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.promedioRendimientoAcademico?.tercerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.promedioFinalRendimientoAcademico}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.desviacionEstandar?.primerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.desviacionEstandar?.segundoParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.desviacionEstandar?.tercerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.promedioFinalDesviacionEstandar}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>NRC</th>
                  <td colspan="3"></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th rowspan="2">PROMEDIO</th>
                  <td colspan="3">CALIFICACIONES</td>
                </tr>
                <tr>
                  <td>I-UD</td>
                  <td>II-UD</td>
                  <td>III-UD</td>
                </tr>
                <tr>
                  <td>Promedio de Rendimiento Académico </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>Desviación Estándar</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Promedio final de rendimiento académico</td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td>Promedio final de desv. estándar</td>
                  <td colspan="3"></td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <h1>5. TUTORÍAS <button id="button-objetivo" type="button" (click)="addDatosTutorias()"
              class="btn btn-outline-success btn-sm" *ngIf="this.informeFinalDTO.datosAsignatura?.length!=0">Agregar
              Datos de Tutorías</button></h1>
          <p>A continuación, se detallan los resultados de las tutorías de reforzamiento. Detallar las estrategias
            planteadas y su respectivo análisis:</p>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th class="text-center align-middle" rowspan="2">NRC</th>
                  <th class="text-center align-middle" colspan="3"># estudiantes promedio menor 14</th>
                  <th class="text-center align-middle" colspan="3"># estudiantes promedio menor 14 asistieron tutorías </th>
                  <th class="text-center align-middle" rowspan="2"># estudiantes promedio menor 14 asistieron tutorías y NO aprobaron</th>
                </tr>
                <tr>
                  <th class="text-center align-middle">I-UD</th>
                  <th class="text-center align-middle">II-UD</th>
                  <th class="text-center align-middle">III-UD</th>
                  <th class="text-center align-middle">I-UD</th>
                  <th class="text-center align-middle">II-UD</th>
                  <th class="text-center align-middle">III-UD</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datosAsignatura of informeFinalDTO.datosAsignatura">
                  <td class="text-center align-middle">{{datosAsignatura.nrc}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14?.primerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14?.segundoParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14?.tercerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14Asistieron?.primerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14Asistieron?.segundoParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14Asistieron?.tercerParcial}}</td>
                  <td class="text-center align-middle">{{datosAsignatura.tutoriaEstudiantesPromedioMenor14AsistieronNoAprobaron}}</td>
                </tr>
              </tbody>
            </table>
          </div>


          <!-- <div class="table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th rowspan="2">NRC</th>
                  <td colspan="3">wwww</td>
                </tr>
                <tr>
                  <td>I-UD</td>
                  <td>II-UD</td>
                  <td>III-UD</td>
                </tr>
                <tr>
                  <td># estudiantes promedio menor 14 </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td># estudiantes promedio menor 14 asistieron tutorías </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td># estudiantes promedio menor 14 asistieron tutorías y NO aprobaron</td>
                  <td colspan="3"></td>
                </tr>
              </tbody>
            </table>
          </div> -->

        </div>
        <div class="tab-pane fade" id="nav-evaluacion-docente" role="tabpanel"
          aria-labelledby="nav-evaluacion-docente-tab">
          <h1>6. EVALUACIÓN DOCENTE </h1>
          <h1>6.1 EVALUACIÓN</h1>
          <p>Porfavor evalúe en base al siguiente criterio:</p>
          <ul>
            <li>Calificación: 1 (No, Nada, Mal)…………………….5 (Si, Mucho, Muy bien)</li>
          </ul>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th class="text-center align-middle">COMPONENTE</th>
                  <th class="text-center align-middle">1</th>
                  <th class="text-center align-middle">2</th>
                  <th class="text-center align-middle">3</th>
                  <th class="text-center align-middle">4</th>
                  <th class="text-center align-middle">5</th>
                  <th class="text-center align-middle">RAZONAMIENTO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center align-middle">1</td>
                  <td class="text-center align-middle">Actualicé los sílabos en el sistema académico y entregué a los estudiante</td>
                  <td class="text-center align-middle"><input type="radio" [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente1" id="1"
                      name="componente1" value="1"></td>
                  <td class="text-center align-middle"><input type="radio" [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente1" id="2"
                      name="componente1" value="2"></td>
                  <td class="text-center align-middle"><input type="radio" [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente1" id="3"
                      name="componente1" value="3"></td>
                  <td class="text-center align-middle"><input type="radio" [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente1" id="4"
                      name="componente1" value="4"></td>
                  <td class="text-center align-middle"><input type="radio" [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente1" id="5"
                      name="componente1" value="5"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento1" name="razonamiento1" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento1"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">2</td>
                  <td class="text-center align-middle">Asistí regular y puntualmente a las clases</td>
                  <td class="text-center align-middle"><input type="radio" name="componente2" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente2"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente2" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente2"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente2" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente2"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente2" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente2"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente2" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente2"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento2" name="razonamiento2" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento2"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">3</td>
                  <td class="text-center align-middle">Cumplí con las fechas del calendario académico</td>
                  <td class="text-center align-middle"><input type="radio" name="componente3" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente3"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente3" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente3"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente3" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente3"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente3" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente3"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente3" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente3"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento3" name="razonamiento3" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento3"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">4</td>
                  <td class="text-center align-middle">Elaboré apuntes y/o material didáctico de la asignatura </td>
                  <td class="text-center align-middle"><input type="radio" name="componente4" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente4"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente4" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente4"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente4" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente4"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente4" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente4"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente4" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente4"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento4" name="razonamiento4" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento4"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">5</td>
                  <td class="text-center align-middle">Desarrolle guías y prácticas de laboratorio según los recursos existentes </td>
                  <td class="text-center align-middle"><input type="radio" name="componente5" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente5"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente5" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente5"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente5" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente5"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente5" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente5"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente5" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente5"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento5" name="razonamiento5" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento5"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">6</td>
                  <td class="text-center align-middle">Vincule la teoría con la práctica profesional </td>
                  <td class="text-center align-middle"><input type="radio" name="componente6" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente6"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente6" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente6"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente6" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente6"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente6" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente6"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente6" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente6"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento6" name="razonamiento6" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento6"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">7</td>
                  <td class="text-center align-middle">Aplique técnicas/estrategias innovadoras en clase </td>
                  <td class="text-center align-middle"><input type="radio" name="componente7" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente7"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente7" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente7"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente7" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente7"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente7" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente7"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente7" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente7"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento7" name="razonamiento7" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento7"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">8</td>
                  <td class="text-center align-middle">Realice una articulación horizontal y vertical con otras asignaturas </td>
                  <td class="text-center align-middle"><input type="radio" name="componente8" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente8"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente8" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente8"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente8" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente8"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente8" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente8"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente8" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente8"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento8" name="razonamiento8" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento8"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">9</td>
                  <td class="text-center align-middle">Realice el seguimiento al sílabo y se cumplieron los contenidos previstos</td>
                  <td class="text-center align-middle"><input type="radio" name="componente9" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente9"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente9" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente9"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente9" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente9"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente9" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente9"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente9" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente9"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento9" name="razonamiento9" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento9"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">10</td>
                  <td class="text-center align-middle">Se alcanzaron los resultados de aprendizaje planeados en el sílabo </td>
                  <td class="text-center align-middle"><input type="radio" name="componente10" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente10"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente10" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente10"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente10" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente10"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente10" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente10"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente10" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente10"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento10" name="razonamiento10" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento10"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">11</td>
                  <td class="text-center align-middle">Utilice los recursos bibliográficos propuestos</td>
                  <td class="text-center align-middle"><input type="radio" name="componente11" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente11"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente11" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente11"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente11" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente11"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente11" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente11"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente11" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente11"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento11" name="razonamiento11" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento11"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">12</td>
                  <td class="text-center align-middle">Realice retroalimentación oportuna de las soluciones de las evaluaciones </td>
                  <td class="text-center align-middle"><input type="radio" name="componente12" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente12"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente12" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente12"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente12" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente12"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente12" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente12"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente12" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente12"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento12" name="razonamiento12" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento12"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">13</td>
                  <td class="text-center align-middle">Brinde confianza para responder preguntas e interactuar sin temores</td>
                  <td class="text-center align-middle"><input type="radio" name="componente13" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente13"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente13" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente13"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente13" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente13"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente13" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente13"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente13" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente13"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento13" name="razonamiento13" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento13"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">14</td>
                  <td class="text-center align-middle">Se propuso un horario de consultas, tutorías de reforzamiento</td>
                  <td class="text-center align-middle"><input type="radio" name="componente14" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente14"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente14" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente14"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente14" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente14"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente14" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente14"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente14" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente14"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento14" name="razonamiento14" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento14"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">15</td>
                  <td class="text-center align-middle">Coordine el avance de los contenidos con otros docentes de la misma asignatura </td>
                  <td class="text-center align-middle"><input type="radio" name="componente15" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente15"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente15" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente15"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente15" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente15"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente15" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente15"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente15" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente15"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento15" name="razonamiento15" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento15"> </textarea></td>
                </tr>
                <tr>
                  <td class="text-center align-middle">16</td>
                  <td class="text-center align-middle">Realicé los portafolios docentes de las asignaturas conforme la normativa establecida </td>
                  <td class="text-center align-middle"><input type="radio" name="componente16" value="1"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente16"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente16" value="2"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente16"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente16" value="3"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente16"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente16" value="4"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente16"></td>
                  <td class="text-center align-middle"><input type="radio" name="componente16" value="5"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.componente16"></td>
                  <td class="text-center align-middle"><textarea id="razonamiento16" name="razonamiento16" rows="4" cols="70%"
                      [(ngModel)]="informeFinalDTO.evaluacionDocente!.razonamiento16"> </textarea></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h1>6.2 FORTALEZAS Y DEBILIDADES</h1>
          <p>(Describa las fortalezas y debilidades de su gestión docente que le permitirán generar acciones de mejora
            para el siguiente periodo).</p>
          <h1>Fortalezas:<button id="button-objetivo" type="button" (click)="addFortaleza()"
              class="btn btn-outline-success btn-sm">Agregar Fortaleza</button></h1>
          <ul *ngFor="let fortaleza of informeFinalDTO.fortalezas">
            <li>{{fortaleza}}</li>
          </ul>

          <h1>Debilidades:<button id="button-objetivo" type="button" (click)="addDebilidad()"
              class="btn btn-outline-success btn-sm">Agregar Debilidad</button></h1>
          <ul *ngFor="let debilidad of informeFinalDTO.debilidades">
            <li>{{debilidad}}</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-apreciacion-global" role="tabpanel"
          aria-labelledby="nav-apreciacion-global-tab">
          <h1>7 APRECIACIÓN GLOBAL DE LOS ESTUDIANTES</h1>
          <h1>Fortalezas: <button id="button-objetivo" type="button" (click)="addFortalezaApreciacionEstudiantes()"
              class="btn btn-outline-success btn-sm">Agregar Fortaleza</button></h1>
          <ul *ngFor="let fortaleza of informeFinalDTO.apreciacionGlobalFortalezas">
            <li>{{fortaleza}}</li>
          </ul>
          <h1>Debilidades: <button id="button-objetivo" type="button" (click)="addDebilidadApreciacionEstudiantes()"
              class="btn btn-outline-success btn-sm">Agregar Debilidad</button></h1>
          <ul *ngFor="let debilidad of informeFinalDTO.apreciacionGlobalDebilidades">
            <li>{{debilidad}}</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-acciones-mejora" role="tabpanel" aria-labelledby="nav-contact-tab">
          <h1>8 ACCIONES PARA MEJORAR LA GESTIÓN DOCENTE</h1>
          <p>(Describa las acciones que se deberían implementar para mejorar su gestión docente y los resultados en el
            siguiente periodo).</p>
          <h1>Acción 1: Relacionado con mejoras al plan analítico de las asignaturas <button id="button-objetivo"
              type="button" (click)="addAccion1()" class="btn btn-outline-success btn-sm">Agregar Acción 1</button></h1>
          <ul *ngFor="let accion of informeFinalDTO.accionesMejoraDocente!.accion1">
            <li>{{accion}}</li>
          </ul>
          <h1>Acción 2: Relacionadas con los estudiantes y mejorar el proceso enseñanza-aprendizaje <button
              id="button-objetivo" type="button" (click)="addAccion2()" class="btn btn-outline-success btn-sm">Agregar
              Acción 2</button></h1>
          <ul *ngFor="let accion of informeFinalDTO.accionesMejoraDocente!.accion2">
            <li>{{accion}}</li>
          </ul>
          <h1>Acción 3: Relacionadas con la mejora de sus capacidades docentes <button id="button-objetivo"
              type="button" (click)="addAccion3()" class="btn btn-outline-success btn-sm">Agregar Acción 3</button></h1>
          <ul *ngFor="let accion of informeFinalDTO.accionesMejoraDocente!.accion3">
            <li>{{accion}}</li>
          </ul>
          <h1>Acción 4: Otros ámbitos de mejora <button id="button-objetivo" type="button" (click)="addAccion4()"
              class="btn btn-outline-success btn-sm">Agregar Acción 4</button></h1>
          <ul *ngFor="let accion of informeFinalDTO.accionesMejoraDocente!.accion4">
            <li>{{accion}}</li>
          </ul>
          <h1> Acciones tomadas para la solución de las novedades que se hayan presentado en clases y laboratorios y
            tutorías <button id="button-objetivo" type="button" (click)="addAccionLaboratorioTutoria()"
              class="btn btn-outline-success btn-sm">Agregar Acciones para laboratorios y tutorías</button></h1>
          <ul *ngFor="let accion of informeFinalDTO.accionesMejoraDocente!.accionLaboratorioTutoria">
            <li>{{accion}}</li>
          </ul>
          <h1>Otras <button id="button-objetivo" type="button" (click)="addOtrasAcciones()"
              class="btn btn-outline-success btn-sm">Agregar Otras Acciones</button></h1>
          <ul *ngFor="let accion of informeFinalDTO.accionesMejoraDocente!.otrasAcciones">
            <li>{{accion}}</li>
          </ul>
          <p>A continuación, se exponen las temáticas de capacitación en los que requiero actualización para mejorar mi
            desempeño docente <button id="button-objetivo" type="button" (click)="addCapacitacionMejoraDocente()"
              class="btn btn-outline-success btn-sm">Agregar Capacitación</button></p>

          <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th class="text-center align-middle" rowspan="2">ÁREA DE CONOCIMIENTO</th>
                  <!-- <th colspan="3">APELLIDOS Y NOMBRES DEL DOCENTE</th> -->
                  <th class="text-center align-middle" colspan="4">CAPACITACIÓN: Registre las temáticas de capacitación en los que requeriría actualización para mejorar su desempeño docente. </th>
                </tr>
                <tr>
                  <th class="text-center align-middle">TEMA 1</th>
                  <th class="text-center align-middle">TEMA 2</th>
                  <th class="text-center align-middle">TEMA 3</th>
                  <th class="text-center align-middle">TEMA 4</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tematicaCapacitacion of informeFinalDTO.tematicaCapacitaciones">
                  <td class="text-center align-middle">{{tematicaCapacitacion.areaConocimiento}}</td>
                  <td class="text-center align-middle">{{tematicaCapacitacion.tema1}}</td>
                  <td class="text-center align-middle">{{tematicaCapacitacion.tema2}}</td>
                  <td class="text-center align-middle">{{tematicaCapacitacion.tema3}}</td>
                  <td class="text-center align-middle">{{tematicaCapacitacion.tema4}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="tab-pane fade" id="nav-conclusiones" role="tabpanel" aria-labelledby="nav-contact-tab">
          <h1>9 CONCLUSIONES <button id="button-objetivo" type="button" (click)="addConclusion()"
              class="btn btn-outline-success btn-sm">Agregar Conclusión</button></h1>
          <ul *ngFor="let conclusion of informeFinalDTO.conclusiones">
            <li>{{conclusion}}</li>
          </ul>
          <h1>10 RECOMENDACIONES <button id="button-objetivo" type="button" (click)="addRecomendacion()"
              class="btn btn-outline-success btn-sm">Agregar Recomendación</button></h1>
          <ul *ngFor="let recomendacion of informeFinalDTO.recomendaciones">
            <li>{{recomendacion}}</li>
          </ul>
        </div>

        <div class="tab-pane fade" id="nav-anexos" role="tabpanel" aria-labelledby="nav-contact-tab">
          <h1> 11 ANEXOS</h1>
          <h1 style="text-align: center;">ANEXO 1. REGISTRO DE TUTORÍAS DE REFORZAMIENTO <button id="button-objetivo" type="button" (click)="addAnexo1()"
              class="btn btn-outline-success btn-sm">Agregar Información</button></h1>
          <ul *ngFor="let anexo1 of informeFinalDTO.anexo1">
            <li>{{anexo1}}</li>
          </ul>

          <h1>ANEXO 2. INDICADORES DE ACREDITACIÓN A REPORTAR POR PARTE DE LOS DOCENTES <button id="button-objetivo" type="button" (click)="addAnexo2()"
              class="btn btn-outline-success btn-sm">Agregar Información</button></h1>
              <p>Complete la siguiente información solicitada dentro de su gestión docente con las respectivas evidencias (indicar links de
                informes, matrices, etc).</p>
        </div>

      </div>



      <div class="form-group">
        <button type="button" (click)="guardarBorrador()" class="btn btn-primary btn-sm form-control">Guardar Información como un Borrador</button>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-success btn-sm form-control">Guardar Información</button>
      </div>
    </form>
  </div>
</div>
