<app-navbar></app-navbar>
<ngx-charts-pie-grid [view]="view" [designatedTotal]="100" label="Porcentaje realizado" scheme="nightLights"
    [results]="dataPieChart">
</ngx-charts-pie-grid>

<ngx-charts-bar-horizontal-2d [view]="view2" scheme="cool" [results]="dataPieChart" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [legend]="showLegend" [legendPosition]="legendPosition" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    legendTitle="Estado de las Actividades">
</ngx-charts-bar-horizontal-2d>
<!--<ul class="heroes" *ngFor="let dataDashboard of dataDashboardTarea.dasboardTareaInvestigacionList">
    <h1>{{ dataDashboard.tarea.nombreTarea }}</h1>
    <li *ngFor="let tareaIndicador of dataDashboard.tareaIndicadorList; let i = index">
        <span class="badge">{{i}}</span> {{tareaIndicador.indicadorCODIGOINDICADOR.nombreIndicador}}
    </li>
</ul>-->
<div class="container">
    <h2 style="text-align: center;">Indicadores</h2>
    <div class="table-responsive" *ngFor="let dataDashboard of dataDashboardTarea.dasboardTareaInvestigacionList">
        <h3 style="text-align: center;"><b>Actividad:</b>{{dataDashboard.tarea.nombreTarea }}</h3>
        <table class="table table-hover text-center table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Nombre del Indicador</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let tareaIndicador of dataDashboard.tareaIndicadorList">
                    <td>{{ tareaIndicador.indicadorCODIGOINDICADOR.nombreIndicador }}</td>
                    <td>{{ tareaIndicador.descripcionTareaIndicador }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>