.contenedor{
  margin: 0;
  padding: 0;
  height: 90%;
}


.tabla{
  clear: both;
}

.pie-chart{
  width: 49vw;
  height: 90vh;
  float: left;
}
.bar-chart{
  width: 49vw;
  height: 80vh;
  float: right;
}
