/* .contenedor{
  margin: 0;
  padding: 0;
  height: 90%;
} */

.dataDashboard{
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(32, 31, 30), 0px 0px 10px rgb(114, 147, 200);
}

.row{
  height: 100%;
}

.pie-chart{
  height: 100%;
}

.bar-chart{
  height: 85%;
}

.small-container{
  height: 80vh;
}

.big-container{
  height: 130vh;
}

/* .tabla{
  clear: both;
} */

