<app-navbar></app-navbar>
<button type="button" (click)="back()" class="btn btn-dark btn-sm btn-regresar" style="margin-left: 10px;">Regresar</button>
<div *ngIf="dataPieChart.length!=0; else loggedOut">
    <div class="contenedor">
        <div class="pie-chart">
            <ngx-charts-pie-grid [view]="view" [designatedTotal]="100" label="Porcentaje realizado" scheme="nightLights"
                [results]="dataPieChart">
            </ngx-charts-pie-grid>

        </div>
        <div class="bar-chart">
            <ngx-charts-bar-horizontal-2d [view]="view2" scheme="vivid" [results]="dataPieChart" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegend" [legendPosition]="legendPosition"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" legendTitle="Estado de las Actividades">
            </ngx-charts-bar-horizontal-2d>
        </div>
        <div class="tabla">
            <div class="container">
                <h2 style="text-align: center;">Indicadores por Actividad:</h2>
                <div class="table-responsive"
                    *ngFor="let dataDashboard of dataDashboardTarea.dasboardTareaInvestigacionList">
                    <h3 style="text-align: center;"><b>Actividad:</b>{{dataDashboard.tarea.nombreTarea }}</h3>
                    <table class="table table-hover text-center table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th>Tipo</th>
                                <th>Nombre del Indicador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tareaIndicador of dataDashboard.tareaIndicadorList">
                                <td>{{ tareaIndicador.indicadorCODIGOINDICADOR.nombreIndicador }}</td>
                                <td>{{ tareaIndicador.descripcionTareaIndicador }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loggedOut>
    <div class="container" style="text-align: center;">
        No se ha asignado ningúna Actividad a este Proyecto
    </div>
</ng-template>

<!--<ul class="heroes" *ngFor="let dataDashboard of dataDashboardTarea.dasboardTareaInvestigacionList">
    <h1>{{ dataDashboard.tarea.nombreTarea }}</h1>
    <li *ngFor="let tareaIndicador of dataDashboard.tareaIndicadorList; let i = index">
        <span class="badge">{{i}}</span> {{tareaIndicador.indicadorCODIGOINDICADOR.nombreIndicador}}
    </li>
</ul>-->