<app-navbar></app-navbar>
<p-toast position="top-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-blockUI *ngIf="visualBlockedDocument" [blocked]="blockedDocument" (baseZIndex)="3"></p-blockUI>
<div class="container">
  <div class="row justify-content-center">
    <div class="overlay">
      <p-progressSpinner *ngIf="blockedDocument"
        [style]="{width: '150px', height: '150px', margin:'auto'}"
        styleClass="custom-spinner"></p-progressSpinner>
    </div>
    <div class="col-md-5" style="margin: auto;">
      <button type="button" (click)="regresar()" class="btn btn-dark btn-sm btn-regresar">Regresar</button>
      <h2 style="text-align: center;"><mat-icon>device_hub</mat-icon> Editar Datos de Proyecto</h2>
      <form (ngSubmit)="f.form.valid && save()" #f="ngForm">
        <div class="form-group">
          <label for="nombreProyecto"><mat-icon>assignment</mat-icon>Nombre del Proyecto:</label>
          <input [(ngModel)]="proyecto.nombreProyecto" id="nombreProyecto" name="nombreProyecto" type="text"
            class="form-control" required />
        </div>
        <div class="form-group">
          <label for="procesoProyecto"><mat-icon> scatter_plot</mat-icon>Proceso:</label>
          <p>
            <select name="proceso" [(ngModel)]="proyecto.tipoProceso" [compareWith]="compararProcesos" id="procesoProyecto" class="form-select">
              <option [ngValue]="tipoProceso" *ngFor="let tipoProceso of tipoProcesos">{{tipoProceso.nombreTipoProceso}}
              </option>
            </select>
          </p>
        </div>
        <div class="form-group">
          <label for="descripcionProyecto"><mat-icon>description</mat-icon>Descripción del Proyecto (Opcional):</label>
          <input [(ngModel)]="proyecto.descripcionProyecto" id="descripcionProyecto" name="descripcionProyecto"
            type="text" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm form-control">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--
<app-navbar></app-navbar>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Editar Datos de Proyecto</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="f.form.valid && save()" #f="ngForm">
        <div class="form-group">
          <label for="">Nombre del Proyecto:</label>
          <input 
            [(ngModel)]="proyecto.nombreProyecto" 
            name="nombreProyecto" 
            type="text" 
            class="form-control"
            required/>
        </div>
        <div class="form-group">
          <label for="">Proceso:</label>
          <p>
            <select name="proceso" [(ngModel)]="proyecto.tipoProceso" [compareWith]="compararProcesos">
              <option [ngValue]="tipoProceso" *ngFor="let tipoProceso of tipoProcesos">{{tipoProceso.nombreTipoProceso}}</option>
            </select>
          </p>
        </div>
        <div class="form-group">
          <label for="">Descripción del Proyecto:</label>
          <input 
            [(ngModel)]="proyecto.descripcionProyecto"
            name="descripcionProyecto" 
            type="text" 
            class="form-control"
            required/>
        </div>
        <button type="submit" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
-->