<!--<ngx-charts-pie-grid
  [view]="view"
  [designatedTotal]="100"
  label="Porcentaje realizado"
  scheme="nightLights"
  [results]="data"
  (select)="onSelect($event)"
>
</ngx-charts-pie-grid>-->
<app-navbar></app-navbar>
<div class="boton">
  <input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Nombre del Proyecto">
</div>
<div class="container">
  <div class="grid-container">
    <div *ngFor="let proyecto of dataFiltrada">
      <div class="contenedor" (click)="verEstadoProyecto(proyecto)">
        <h6>{{proyecto.name}}</h6>
        <app-progress-bar [dataProgress]="proyecto" >
        </app-progress-bar>
      </div>
    </div>
  </div>
</div>
