<nav class="navbar navbar-dark bg-dark">
  <span class="titulo navbar-brand">GPR - MECÁNICA</span>
</nav>
<p-toast position="top-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-blockUI [blocked]="blockedDocument" (baseZIndex)="3"></p-blockUI>
<div class="container">
  <div class="row justify-content-center">
    <div class="overlay">
      <p-progressSpinner *ngIf="blockedDocument"
        [style]="{width: '150px', height: '150px', margin:'auto'}"
        styleClass="custom-spinner"></p-progressSpinner>
    </div>
    <div class="col-md-5 align-self-center" style="display: flex;">
      <form [formGroup]="formulario2" (ngSubmit)="resetearPassword()" class="border p-3 form">
        <div class="imagenUsuario">
          <img src="./assets/img/user.png">
        </div>
        <span style="font-size: 25px;">
          Ingrese su email
        </span>
        <div class="form-group mb-3">
          <input type="email" name="email" id="email" class="form-control" formControlName="usuario">
        </div>

        <button type="submit" class="btn btn-primary btn-sm form-control" routerLinkActive="router-link-active">Resetear
          Password</button>
        <hr>
        <a [routerLink]="['/registro']">Registrar </a> <br />
        <a [routerLink]="['/login']">Regresar</a>
      </form>
    </div>
  </div>
</div>