.dataDashboard{
  padding: 20px;
  background-image: radial-gradient(circle at 46.09% 39.26%, #ffffff 0, #fbf9ff 50%, #d9d5e6 100%);
  box-shadow: 0px 0px 10px rgb(32, 31, 30), 0px 0px 10px rgb(114, 147, 200);
}

.row{
  height: 100%;
}

.pie-chart{
  height: 100%;
}

.bar-chart{
  height: 85%;
}

.small-container{
  height: 57vh;
}

.medium-container{
  height: 80vh;
}

.big-container{
  height: 130vh;
}
